{{page-title "TestApp"}}

<style type="text/css">
  [data-sortable-item="handle"], [data-sortable-item-handle] {
    cursor: grab;
  }
/*
  .sortable-chosen[data-sortable-item="handle"], .sortable-chosen [data-sortable-item-handle] {
    cursor: grabbing;
  }
*/
</style>

<style type="text/css">
  .drop-target-item {
    background: gray;
  }
  .is-dragging {
    opacity: .5;
  }

  /* * /
  [data-drop-edge]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  [data-drop-edge="top"]::before {
    border-top: 3px solid red; bottom: auto;
  }
  [data-drop-edge="bottom"]::before {
    border-top: 3px solid red; top: auto;
  }
  [data-drop-edge="left"]::before {
    border-left: 3px solid red; right: auto;
  }
  [data-drop-edge="right"]::before {
    border-left: 3px solid red; left: auto;
  }
  /**/
  [data-drop-tree-intruction]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  [data-drop-tree-intruction="make-child"] {

  }
  /*
reorder-above
reorder-below
reparent
   */

</style>

<main class="flex-shrink-0">
  <Header />

  <div class="container">
    <div class="row">
      <div class="col-2">

        <div class="sticky-top pt-4">
          <nav class="vh-100 flex-column align-items-stretch pe-4 border-end">
            <Ui::Nav @items={{array
              (hash href="#introduction" text="Introduction"
                items=(array
                  (hash href="#installation" text="Installation")
                  (hash href="#usage" text="Usage")
                )
              )
              (hash href="#examples" text="Examples"
                items=(array
                  (hash href="#drag-handle" text="Drag handle")
                  (hash href="#shared-lists" text="Shared lists")
                  (hash href="#nested-lists" text="Nested lists")
                  (hash href="#board" text="Board")
                  (hash href="#windows-98" text="Windows 98")
                )
              )
              (hash href="#api" text="API"
                items=(array
                  (hash href="#modifiers" text="Modifiers")
                  (hash href="#utilities" text="Utilities")
                )
              )
            }} />
                  {{!-- (hash href="#service" text="Service") --}}
          </nav>
        </div>

      </div>

      <div class="col-10 mt-4">

        <Introduction />
        <Examples />
        <Api />

      </div>
    </div>
  </div>
</main>


{{outlet}}