{{page-title "TestApp"}}

{{!--


<div class="container mx-auto">
    <div class="flex flex-row flex-wrap py-4">
        <aside class="w-full sm:w-1/3 md:w-1/4 px-2">
            <div class="sticky top-0 p-4 w-full">
                <ul class="flex flex-col overflow-hidden">
                    ...
                </ul>
            </div>
        </aside>
        <main role="main" class="w-full sm:w-2/3 md:w-3/4 pt-1 px-2">
            <!-- content area -->
        </main>
    </div>
</div>
<footer class="mt-auto">
    ...
</footer>

--}}

<style type="text/css">
  /*
  main > .container {
    padding-top: 60px;
  }
  */
</style>
<style type="text/css">
  [data-sortable-item="handle"], [data-sortable-item-handle] {
    cursor: grab;
  }
/*
  .sortable-chosen[data-sortable-item="handle"], .sortable-chosen [data-sortable-item-handle] {
    cursor: grabbing;
  }
*/
</style>

<style type="text/css">
  .drop-target-item {
    background: gray;
  }
  .is-dragging {
    opacity: .5;
  }

  /* * /
  [data-drop-edge]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  [data-drop-edge="top"]::before {
    border-top: 3px solid red; bottom: auto;
  }
  [data-drop-edge="bottom"]::before {
    border-top: 3px solid red; top: auto;
  }
  [data-drop-edge="left"]::before {
    border-left: 3px solid red; right: auto;
  }
  [data-drop-edge="right"]::before {
    border-left: 3px solid red; left: auto;
  }
  /**/
  [data-drop-tree-intruction]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  [data-drop-tree-intruction="make-child"] {

  }
  /*
reorder-above
reorder-below
reparent
   */

</style>

<main class="flex-shrink-0">
  <Header />

  <div class="container">
    <Examples::Basic />
    {{!--
    <Examples::Handle />
    <Examples::SharedLists />
    <Examples::NestedLists />
    <Examples::WindowsDesktop />
    <Examples::Board />
    --}}
  </div>
</main>


{{outlet}}