<div class="p-5 mb-4 bg-body-tertiary">
  <div class="container py-5">
    <h1 class="display-2">
      Ember draggable
    </h1>
    <p class="lead">
      Basic set of modifiers to create smooth drag and drop interfaces powered by the <a target="_blank" href="https://atlassian.design/components/pragmatic-drag-and-drop/about">Atlassian Design System</a>
    </p>
  </div>
</div>